@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue_jeans: #4A89DC;
    --grey_black: #2C2C2B;
    --white: #fff; 
    --text_grey: #727272;
    --bg_grey: #F5F5F5;
    --default_font: "Open Sans";
    --blue_jeans_hover: #5D9CEC;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--default_font);
    background-color: var(--white);
}

.loginR_ {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login_register_wrapper {
    width: 360px;

    padding: 30px;

    text-align: center;

    background-color: var(--bg_grey);
    border-radius: 10px;
}

.login_title {
    color: var(--grey_black);
    font-size: 20px;
}

.login_title span {
    color: var(--text_grey);
    font-size: 16px;
}

.login_description {
    color: var(--grey_black);
    font-size: 12px;

    font-weight: 500;

    margin: 10px 0 30px 0;
}

.button_google {
    width: 360px;
    height: 40px;

    border: none;
    border-radius: 5px;

    font-size: 12px;
    color: var(--white);
    font-family: var(--default_font);

    background-color: var(--grey_black);
}

.input_ {
    width: 348px;
    height: 38px;

    border: none;
    border-radius: 5px;

    padding-left: 10px;

    font-size: 12px;

    margin: 30px 0 0 0;

    transition: all 0.3s ease;
}

.default_button {
    width: 360px;
    height: 40px;

    border: none;
    border-radius: 5px;

    font-size: 12px;
    color: var(--white);
    font-family: var(--default_font);

    background-color: var(--blue_jeans);

    margin: 30px 0;

    transition: all 0.3s ease;
}

.default_button:hover {
    transform: scale(1.05);
    background-color: var(--blue_jeans_hover);
}

.default_button:active {
    transform: scale(0.99);
}

.link {
    font-size: 12px;
}

div span {
    color: var(--grey_black);
    font-size: 12px;
}

div a {
    color: var(--blue_jeans);
    text-decoration: none;
    font-size: 12px;
}

.verify_button {
    font-size: 12px;

    color: var(--white);
    background-color: var(--blue_jeans);

    border-radius: 5px;
    border: none;

    padding: 12px 50px;

    transition: all 0.3s ease;
}

.verify_button:hover {
    transform: scale(1.05);
    background-color: var(--blue_jeans_hover);
}

.verify_button:active {
    transform: scale(0.99);
}

.verify_wrapper {
    text-align: center;

    background-color: var(--bg_grey);
    padding: 30px;

    border-radius: 10px;
}

.verify_desc {
    font-size: 16px;
    font-weight: 500;
}

.verify_text {
    font-size: 12px;
}

.input_:hover {
    transform: scale(1.05);
}
