@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --blue_jeans: #4A89DC;
    --grey_black: #2C2C2B;
    --white: #fff; 
    --text_grey: #727272;
    --bg_grey: #F5F5F5;
    --default_font: "Open Sans";
}

.achievement_image {
    border: none;
    background-color: var(--white);
    border-radius: 10px;

    width: 160px;
    height: 220px;

    padding: 10px;

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html.dark .achievement_image {
    background-color: #3D3D3D;
}


.achievement_title {
    margin-top: 70px;
    font-size: 20px;
    font-weight: 500;

    color: var(--grey_black);

    margin-bottom: 32px;
    text-align: center;
}

html.dark .achievement_title {
    color: white;
}

.locked_achievement {
    height: 220px;
    width: 160px;

    border-radius: 10px;

    text-align: center;
    color: var(--white);
    background-color: var(--grey_black);
    padding: 10px;
}

.state {
    padding-top: 80px;
}

.achievement_wrapper {
    text-align: center;
}

.achievements_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}