:root {
    --blue_jeans: #4A89DC;
    --grey_black: #2C2C2B;
    --white: #fff; 
    --text_grey: #727272;
    --bg_grey: #F5F5F5;
    --default_font: "Open Sans";
    --sunflower: #FFCE54;
    --blue_jeans_hover: #5D9CEC;
    --green: #A0D468;   
    --blood: #D74655;
    --sky: #4B89DC;
    --flame: #ef6144;
}

.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  background: var(--green);
  border-radius: 10px;
  padding: 24px;
  max-width: 1200px;
  margin-top: 40px;
  margin-bottom: 0;
}

.pomodoro-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.pomodoro-time {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.pomodoro-buttons {
  display: flex;
  gap: 0.5rem;
}

.pomodoro-buttons button {
  padding: 4px 14px;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
}

.pomodoro-buttons button:hover {
  opacity: 0.85;
}

.pomodoro-mode-switch {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.pomodoro-mode-switch button:hover {
    transform: scale(1.03);
}


.btn {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background: hsla(0, 0%, 100%, 0.529);
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    border: 3px solid hsla(0, 0%, 100%, 0.348);
}

.active-btn {
    padding: 6px 10px;
    border: none;
    border-radius: 6px;
    background: transparent;

    color: white;
    border: 3px solid white;

    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.reset_button {
  background: transparent;
}

.pomodoro-container.work {
  background-image: url('../../assets/icons/work.gif');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
}

.pomodoro-container.short {
  background-image: url('../../assets/icons/short.gif');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
}

.pomodoro-container.long {
  background-image: url('../../assets/icons/long.gif');
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;
}